.class1 {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}
.class2 {
    font-size: 24px;
}
#ID1 {
    color: blue;
    font-size: 36px;
}
#ID2 {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}